* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #faf1e4;
}

#map {
  flex: 1;
}

#selectionPane {
  padding: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.widget-container {
  border: none;
}

.searchBar, .inputBox select {
  height: 2rem;
  border-radius: 0.4rem;
}

.inputBox {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #faf1e4;
  border-radius: 0.6rem;
  box-shadow: 6px 6px 2px #deb9ab;
}

#addButton {
  display: block;
  background-color: #aebea4;
  color: white;
  font-size: 20pt;
  height: 2.2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

#addButton:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 767px) {
  #container {
      flex-direction: column;
  }

  #selectionPane {
      width: 100%;
  }
}